<div class="panel-primary">
  <div class="panel-body">
    <div *ngIf="messages?.length === 0">
      <p>No message, MTHFKR!</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">
        <div *ngIf="message.senderId === userId">
          <span class="chat-img pull-left">
            <img src="{{message.senderPhotoUrl}}" class="img-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{message.senderName}}</strong>
              <small class="text-muted pull-right">
                <span class="fa fa-clock-o">{{message.messageSent}}</span>
              </small>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>

        <div *ngIf="message.senderId != userId">
          <span class="chat-img pull-right">
            <img src="{{message.senderPhotoUrl}}" class="img-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{message.messageSent}}</span>
                <span *ngIf="!message.isRead" class="text-muted text-danger">(Unread)</span>
                <span *ngIf="message.isRead" class="text-muted text-success">(Read {{message.dateRead}})</span>
              </small>
              <strong class="primary-font pull-right">{{message.senderName}}</strong>

            </div>
            <p>{{message.content}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" required name="content"
        [(ngModel)]='newMessage.content'
        class="form-control input-sm" placeholder="save private">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-sm"[disabled]='!messageForm.valid'>SEND</button>
        </span>
      </div>

    </form>
  </div>
</div>
